In [1]:
# Dependencies
import pandas as pd

In [2]:
# Create a reference to the csv file we want to read.
budget_csv = "Resources/budget_data.csv"

In [3]:
# Read the csv
budget_df = pd.read_csv(budget_csv)

# Print the first 5 rows of data (jupyter notebook only)
budget_df.head()

# Print data
# print(budget_df)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# Calculate the total number of months included in the dataset.
num_months = budget_df["Date"].count()

print(f"Total number of months: {num_months}")

Total number of months: 86

In [5]:
# Calculate the net total amount of "Profit/Losses" over the entire period.
net_total = budget_df["Profit/Losses"].sum()

print(f"Net total amount of profit/losses: ${net_total}")

Net total amount of profit/losses: $38382578

In [6]:
# Calculate the average of the changes in "Profit/Losses" over the entire period.

# Calculate the difference between two values by subtracting the starting value
# from the ending value for each value in the "Profit/Losses" column.
difference = budget_df['Profit/Losses'].diff()

# Add new column for difference.
budget_df["Difference"] = difference

# Sum up the difference values in the Difference column.
sum_of_differences = budget_df["Difference"].sum()

# Figure out the number of difference values in the Difference column.
num_of_differences = budget_df["Difference"].count()

# Calculate average of changes.
average_of_changes = sum_of_differences / num_of_differences

# Round to two decimal places.
average_of_changes = round(average_of_changes, 2)

print(f"Average of changes: ${average_of_changes}")

budget_df.head()

Average of changes: $-2315.12

       Date  Profit/Losses  Difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [7]:
# Calculate the greatest increase in profits (date and amount) over the entire period

# Sort dataset in descending order to find greatest increase in profits.
budget_df_descending = budget_df.sort_values("Difference", ascending=False)

# Reset index.
budget_df_descending = budget_df_descending.reset_index(drop=True)

# Find greatest increase amount value and store in variable.
greatest_increase_amount = budget_df_descending.iloc[0]["Difference"]

# Find greatest increase date value and store in variable.
greatest_increase_date = budget_df_descending.iloc[0]["Date"]

print(f"Greatest increase amount: ${greatest_increase_amount}")
print(f"Greatest increase date: {greatest_increase_date}")

budget_df_descending.head()

Greatest increase amount: $1926159.0
Greatest increase date: Feb-2012

       Date  Profit/Losses  Difference
0  Feb-2012        1170593   1926159.0
1  Dec-2013        1150461   1838447.0
2  Aug-2016         569899   1733696.0
3  Sep-2012         475062   1497596.0
4  Oct-2013         268997   1465222.0

In [8]:
# Calculate the greatest decrease in losses (date and amount) over the entire period

# Sort dataset in ascending order to find greatest decrease in profits.
budget_df_ascending = budget_df.sort_values("Difference")

# Reset index
budget_df_ascending = budget_df_ascending.reset_index(drop=True)

# Find greatest decrease amount value and store in variable.
greatest_decrease_amount = budget_df_ascending.iloc[0]["Difference"]

# Find greatest decrease date value and store in variable.
greatest_decrease_date = budget_df_ascending.iloc[0]["Date"]

print(f"Greatest decrease amount: ${greatest_decrease_amount}")
print(f"Greatest decrease date: {greatest_decrease_date}")

budget_df_ascending.head()

Greatest decrease amount: $-2196167.0
Greatest decrease date: Sep-2013

       Date  Profit/Losses  Difference
0  Sep-2013       -1196225  -2196167.0
1  Jul-2016       -1163797  -1876758.0
2  Feb-2016       -1100387  -1750387.0
3  Aug-2012       -1022534  -1529236.0
4  Apr-2015        -524626  -1212159.0

In [9]:
# Print the analysis to the terminal and export a text file with the results.
print("-----------------------------------")
print("Financial Analysis")
print("-----------------------------------")
print(f"Total Months: {num_months}")
print("Total: ${:,.2f}".format(net_total))
print("Average Change: ${:,.2f}".format(average_of_changes))
print("Greatest Increase in Profits: " + greatest_increase_date + ", ${:,.2f}".format(greatest_increase_amount))
print("Greatest Decrease in Profits: " + greatest_decrease_date + ", ${:,.2f}".format(greatest_decrease_amount))

-----------------------------------
Financial Analysis
-----------------------------------
Total Months: 86
Total: $38,382,578.00
Average Change: $-2,315.12
Greatest Increase in Profits: Feb-2012, $1,926,159.00
Greatest Decrease in Profits: Sep-2013, $-2,196,167.00

In [10]:
# Export a text file with the results.
with open("financial_results.txt", 'w') as file:

    file.write("---------------------------------------------------------------\r\n")
    file.write("Financial Analysis\r\n")
    file.write("---------------------------------------------------------------\r\n")
    file.write(f"Total Months: {num_months}\r\n")
    file.write("Total: ${:,.2f}\r\n".format(net_total))
    file.write("Average Change: ${:,.2f}\r\n".format(average_of_changes))
    file.write("Greatest Increase in Profits: " + greatest_increase_date + ", ${:,.2f}\r\n".format(greatest_increase_amount))
    file.write("Greatest Decrease in Profits: " + greatest_decrease_date + ", ${:,.2f}\r\n".format(greatest_decrease_amount))